{{- if eq .Values.loadBalancer.type "azure-alb" }}
apiVersion: alb.networking.azure.io/v1
kind: RoutePolicy
metadata:
  name: bold-affinity-policy
  {{- include "boldbi.namespace" . | nindent 2 }}
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: bold-main-route
  default:
    timeouts:
      routeTimeout: 300s
    {{- if .Values.loadBalancer.affinityCookie.enable }}
    sessionAffinity:
      affinityType: application-cookie
      cookieName: bold.k8s.pod.id
      cookieDuration: "{{ default "600" .Values.loadBalancer.affinityCookie.affinityCookieExpiration }}s"
    {{- end }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: bold-main-route
  {{- include "boldbi.namespace" . | nindent 2 }}
spec:
  {{- if hasPrefix "https://" .Values.appBaseUrl }}
  hostnames:
  - "{{ index (splitList "/" .Values.appBaseUrl) 2 }}"
  {{- end }}
  parentRefs:
  - name: {{ .Values.loadBalancer.gatewayName }}
    namespace: {{ .Values.loadBalancer.gatewayNamespace }}
    {{- if hasPrefix "https://" .Values.appBaseUrl }}
    sectionName: https
    {{- else }}
    sectionName: http
    {{- end }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /reporting/api
    backendRefs:
    - name: reports-api-service
      port: 6551
  - matches:
    - path:
        type: PathPrefix
        value: /reporting/jobs
    backendRefs:
    - name: reports-jobs-service
      port: 6552
  - matches:
    - path:
        type: PathPrefix
        value: /reporting/reportservice
    backendRefs:
    - name: reports-reportservice-service
      port: 6553
  - matches:
    - path:
        type: PathPrefix
        value: /reporting/viewer
    backendRefs:
    - name: reports-viewer-service
      port: 6554
  - matches:
    - path:
        type: PathPrefix
        value: /bi/api
    backendRefs:
    - name: bi-api-service
      port: 6005
  - matches:
    - path:
        type: PathPrefix
        value: /bi/jobs
    backendRefs:
    - name: bi-jobs-service
      port: 6006
  - matches:
    - path:
        type: PathPrefix
        value: /bi/designer
    backendRefs:
    - name: bi-dataservice-service
      port: 6007
  - matches:
    - path:
        type: PathPrefix
        value: /reporting
    backendRefs:
    - name: reports-web-service
      port: 6550
  - matches:
    - path:
        type: PathPrefix
        value: /bi
    backendRefs:
    - name: bi-web-service
      port: 6004
  - matches:
    - path:
        type: PathPrefix
        value: /api
    backendRefs:
    - name: id-api-service
      port: 6001
  - matches:
    - path:
        type: PathPrefix
        value: /ums
    backendRefs:
    - name: id-ums-service
      port: 6002
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: id-web-service
      port: 6000
  - matches:
    - path:
        type: PathPrefix
        value: /aiservice
    backendRefs:
    - name: bold-ai-service
      port: 6010
  - matches:
    - path:
        type: PathPrefix
        value: /etlservice
    backendRefs:
    - name: bold-etl-service
      port: 6009
    filters:
    - type: URLRewrite
      urlRewrite:
        path:
          type: ReplacePrefixMatch
          replacePrefixMatch: /
{{- end }}