apiVersion: v1
kind: Secret
metadata:
  name: bold-azure-secret
  namespace: bold-services
type: Opaque
data:
  azurestorageaccountname: 
  azurestorageaccountkey: 
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: bold-azurefile
  namespace: bold-services
provisioner: file.csi.azure.com # replace with "kubernetes.io/azure-file" if aks version is less than 1.21
allowVolumeExpansion: true
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=0
  - gid=0
  - mfsymlinks
  - cache=strict
  - actimeo=30
---
apiVersion: v1
kind: PersistentVolume
metadata:
 name: bold-fileserver
 namespace: bold-services
spec:
 capacity:
   storage: 3Gi
 accessModes:
 - ReadWriteMany
 persistentVolumeReclaimPolicy: Retain
 storageClassName: bold-azurefile
 azureFile:
   secretName: bold-azure-secret
   shareName: autodeploy
   secretNamespace: bold-services
   readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
 name: bold-fileserver-claim
 namespace: bold-services
spec:
 accessModes:
 - ReadWriteMany
 storageClassName: bold-azurefile
 volumeName: bold-fileserver
 resources:
   requests:
     storage: 3Gi