{{- if $.Values.brandingDetails.main_logo }}
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "boldbi.labels" . | nindent 4 }}
  name: branding-config
{{ include "boldbi.namespace" . | indent 2 }}
data:
  BOLD_SERVICES_BRANDING_MAIN_LOGO: "{{ .Values.brandingDetails.mainLogo }}"
  
  BOLD_SERVICES_BRANDING_LOGIN_LOGO: "{{ .Values.brandingDetails.loginLogo }}"
  
  BOLD_SERVICES_BRANDING_EMAIL_LOGO: "{{ .Values.brandingDetails.emailLogo }}"
  
  BOLD_SERVICES_BRANDING_FAVICON: "{{ .Values.brandingDetails.favicon }}"
  
  BOLD_SERVICES_BRANDING_FOOTER_LOGO: "{{ .Values.brandingDetails.footerLogo }}"
  
  BOLD_SERVICES_SITE_NAME: "{{ .Values.brandingDetails.siteName }}"
  
  BOLD_SERVICES_SITE_IDENTIFIER: "{{ .Values.brandingDetails.siteIdentifier }}"

  BOLD_SERVICES_SHOW_COPY_RIGHT_INFO: "{{ .Values.brandingDetails.showCopyRightInfo }}"

  BOLD_SERVICES_SHOW_POWERED_BY_SYNCFUSION: "{{ .Values.brandingDetails.showPoweredBySyncfusion }}"
 
 {{- end }}
  
  