{{- range $service := .Values.instanceConfig}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    helm.sh/chart: {{ $.Chart.Name }}_{{ $.Chart.Version }}
    app.kubernetes.io/name: {{ $service.app }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    {{- if $.Chart.AppVersion }}
    app.kubernetes.io/version: {{ $.Chart.AppVersion | quote }}
    {{- end }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
  name: {{ $service.app }}-deployment
  {{- if eq $.Release.Namespace "default" }}
  namespace: {{ $.Values.namespace }}
  {{- else }}
  namespace: {{ $.Release.Namespace }}
  {{- end }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $service.app }}
      app.kubernetes.io/instance: {{ $.Release.Name }}
  replicas: {{ $service.replicaCount }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ $service.app }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
    spec:
      {{- if ne $service.app "id-web" }}
      initContainers:
      - name: id-web-initialization
        image: busybox:1.28
        command: ["/bin/sh","-c"]
        args: ["if [ ! -f /application/app_data/configuration/config.json ]; then echo waiting for id-web; sleep 10; else echo config.json file exist; fi"]
        volumeMounts:
        - mountPath: /application/app_data
          name: {{ $service.app }}-volume
      {{- end }}
      containers:
      - name: {{ $service.app }}-container
        {{- if eq $service.app "id-web" }}
        image: "{{ $.Values.image.repo }}/bold-identity:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "id-api" }}
        image: "{{ $.Values.image.repo }}/bold-identity-api:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "id-ums" }}
        image: "{{ $.Values.image.repo }}/bold-ums:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "bi-web" }}
        image: "{{ $.Values.image.repo }}/boldbi-server:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "bi-api" }}
        image: "{{ $.Values.image.repo }}/boldbi-server-api:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "bi-jobs" }}
        image: "{{ $.Values.image.repo }}/boldbi-server-jobs:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "bi-dataservice" }}
        image: "{{ $.Values.image.repo }}/boldbi-designer:{{ $.Values.image.tag }}"
        {{- else if eq $service.app "bold-etl" }}
        image: "{{ $.Values.image.repo }}/bold-etl:{{ $.Values.image.tag }}"
        {{- end }}
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: {{ $service.cpuResourceRequests }}
            memory: {{ $service.memoryResourceRequests }}
        env:
        - name: BOLD_SERVICES_HOSTING_ENVIRONMENT
          value: k8s
        {{- if eq $service.app "id-web" }}
        - name: APP_BASE_URL
          value: {{ $.Values.appBaseUrl }}
        {{- if $.Values.optionalLibs }}
        - name: INSTALL_OPTIONAL_LIBS
          value: {{ $.Values.optionalLibs }}
        {{- end }}
        {{- else if eq $service.app "id-ums" }}
        - name: BOLD_SERVICES_USE_SITE_IDENTIFIER
          value: "{{ $.Values.useSiteIdentifier.enable }}"
        envFrom:
        - secretRef:
              name: bold-user-secret
        - secretRef:
              name: bold-db-secret
        - secretRef:
              name: bold-license-key
        - configMapRef:
              name: branding-config
              optional: true
        - configMapRef:
              name: version-config
              optional: true
        {{- else if eq $service.app "bi-dataservice" }}
        - name: AppSettings__CustomSizePDFExport
          value: "{{ $.Values.customSizePdfExport.enable }}"
        - name: AppSettings__BrowserTimezone
          value: "{{ $.Values.browserTimeZone.enable }}"
        - name: AppSettings__EnableQueryMetricsInDebugFiles
          value: "{{ $.Values.queryMetricsInDebugFiles.enable }}"
        - name: AppSettings__EnableQueryMetricsWithQueryInDebugFiles
          value: "{{ $.Values.queryMetricsWithQueryInDebugFiles.enable }}"
        {{- if $.Values.bingMapWidget.enabled }}
        - name: widget_bing_map_enable
          valueFrom:
            secretKeyRef:
              name: bold-secret
              key: widget_bing_map_enable_secret
        - name: widget_bing_map_api_key
          valueFrom:
            secretKeyRef:
              name: bold-secret
              key: widget_bing_map_api_key_secret
        {{- end }}
        {{- if $.Values.localization.customLocalePath }}
        - name: AppSettings__locale-path
          value: {{ $.Values.localization.customLocalePath }}
        {{- end }}
        {{- end }}
        readinessProbe:
          httpGet:
            path: /health-check
            port: 80
          {{- if or (eq $service.app "id-web") (eq $service.app "bi-web") }}
          initialDelaySeconds: 30
          {{- else }}
          initialDelaySeconds: 20
          {{- end }}
          periodSeconds: 15
          failureThreshold: 3
          timeoutSeconds: 30
        volumeMounts:
        - mountPath: /application/app_data
          name: {{ $service.app }}-volume
        {{- if eq $service.app "id-web" }}
        - mountPath: /application/idp/web/logs/k8s
        {{- else if eq $service.app "id-api" }}
        - mountPath: /application/idp/api/logs/k8s
        {{- else if eq $service.app "id-ums" }}
        - mountPath: /application/idp/ums/logs/k8s
        {{- else if eq $service.app "bi-web" }}
        - mountPath: /application/bi/web/logs/k8s
        {{- else if eq $service.app "bi-api" }}
        - mountPath: /application/bi/api/logs/k8s
        {{- else if eq $service.app "bi-jobs" }}
        - mountPath: /application/bi/jobs/logs/k8s
        {{- else if eq $service.app "bi-dataservice" }}
        - mountPath: /application/bi/dataservice/logs/k8s
        {{- else if eq $service.app "bold-etl" }}
        - mountPath: /application/etl/etlservice/logs/k8s
        {{- end }}
          name: log4net-config-volume
      volumes:
      - name: {{ $service.app }}-volume
        persistentVolumeClaim:
          claimName: {{ $.Values.persistentVolume.name }}-claim
          readOnly: false
      - name: log4net-config-volume
        configMap:
          name: log4net-config
---
{{- end }}
