{{- if eq .Values.loadBalancer.type "kong" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    {{- include "boldbi.labels" . | nindent 4 }}
  name: bold-ingress
  {{- include "boldbi.namespace" . | nindent 2 }}
  annotations:
    kubernetes.io/ingress.class: kong
    {{- range $key, $value := .Values.loadBalancer.kongIngressAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  {{- if eq (split ":" .Values.appBaseUrl)._0 "https" }}
  tls:
    - hosts:
        - {{ (split "/" .Values.appBaseUrl)._2 }}
      secretName: {{ .Values.loadBalancer.singleHost.secretName }}
  {{- end }}
  rules:
    {{- if .Values.loadBalancer.multipleHost }}
    - http:
    {{- else }}
    - host: {{ (split "/" .Values.appBaseUrl)._2 }}
      http:
    {{- end }}
        paths:
        {{- $subPath := "" }}
        {{- if .Values.subApplication.enabled }}
          {{- $subPath = printf "/%s" (.Values.subApplication.subPath | default "boldservices") }}
        {{- end }}
        - path: {{ $subPath }}/bi/api
          pathType: Prefix
          backend:
            service:
              name: bi-api-service
              port:
                number: 6005
        - path: {{ $subPath }}/bi/jobs
          pathType: Prefix
          backend:
            service:
              name: bi-jobs-service
              port:
                number: 6006
        - path: {{ $subPath }}/bi/designer
          pathType: Prefix
          backend:
            service:
              name: bi-dataservice-service
              port:
                number: 6007
        - path: {{ $subPath }}/bi
          pathType: Prefix
          backend:
            service:
              name: bi-web-service
              port:
                number: 6004
        - path: {{ $subPath }}/api
          pathType: Prefix
          backend:
            service:
              name: id-api-service
              port:
                number: 6001
        - path: {{ $subPath }}/ums
          pathType: Prefix
          backend:
            service:
              name: id-ums-service
              port:
                number: 6002
        - path: {{ $subPath }}/
          pathType: Prefix
          backend:
            service:
              name: id-web-service
              port:
                number: 6000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    {{- include "boldbi.labels" . | nindent 4 }}
  name: bold-etl-ingress
  {{- include "boldbi.namespace" . | nindent 2 }}
  annotations:
    kubernetes.io/ingress.class: kong
    konghq.com/strip-path: "true"
    {{- range $key, $value := .Values.loadBalancer.kongIngressAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  {{- if eq (split ":" .Values.appBaseUrl)._0 "https" }}
  tls:
    - hosts:
        - {{ (split "/" .Values.appBaseUrl)._2 }}
      secretName: {{ .Values.loadBalancer.singleHost.secretName }}
  {{- end }}
  rules:
    {{- if .Values.loadBalancer.multipleHost }}
    - http:
    {{- else }}
    - host: {{ (split "/" .Values.appBaseUrl)._2 }}
      http:
    {{- end }}
        paths:
        - path: {{ $subPath }}/etlservice/
          pathType: ImplementationSpecific
          backend:
            service:
              name: bold-etl-service
              port:
                number: 6009
{{- end }}