
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "boldbi.labels" . | nindent 4 }}
  name: log4net-config
{{ include "boldbi.namespace" . | indent 2 }}
data:
  Log4Net.config: |
    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <log4net threshold="ALL">
        <root>
          <level value="ALL" />

          {{- if and (or (eq .Values.logging.level "both") (eq .Values.logging.level "info")) (or (eq .Values.logging.output "file") (eq .Values.logging.output "both")) }}
          <appender-ref ref="FILE_DEBUG_APPENDER" />
          {{- end }}

          {{- if and (or (eq .Values.logging.level "both") (eq .Values.logging.level "error")) (or (eq .Values.logging.output "file") (eq .Values.logging.output "both")) }}
          <appender-ref ref="FILE_ERROR_APPENDER" />
          {{- end }}

          {{- if or (eq .Values.logging.output "console") (eq .Values.logging.output "both") }}
          <appender-ref ref="ConsoleAppender" />
          {{- end }}
        </root>

        {{- if or (eq .Values.logging.output "file") (eq .Values.logging.output "both") }}
        <!-- INFO file -->
        {{- if or (eq .Values.logging.level "both") (eq .Values.logging.level "info") }}
        <appender name="FILE_DEBUG_APPENDER" type="log4net.Appender.RollingFileAppender">
          <file type="log4net.Util.PatternString" value="%property{AppDataPath}/logs/%property{loggername}/debug-info-%env{HOSTNAME}.txt" />
          <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="INFO" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
          <appendToFile value="true" />
          <maxSizeRollBackups value="1" />
          <maximumFileSize value="300KB" />
          <rollingStyle value="Size" />
          <staticLogFileName value="true" />
          <layout type="log4net.Layout.PatternLayout">
            <header type="log4net.Util.PatternString" value="#Software: %property{loggername} %newline#Date: %date %newline#Fields: date thread namespace methodname message %newline" />
            <conversionPattern value="%date    [%thread]    %message%newline" />
          </layout>
        </appender>
        {{- end }}

        <!-- ERROR file -->
        {{- if or (eq .Values.logging.level "both") (eq .Values.logging.level "error") }}
        <appender name="FILE_ERROR_APPENDER" type="log4net.Appender.RollingFileAppender">
          <file type="log4net.Util.PatternString" value="%property{AppDataPath}/logs/%property{loggername}/errors-%env{HOSTNAME}.txt" />
          <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="ERROR" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
          <appendToFile value="true" />
          <maxSizeRollBackups value="10" />
          <maximumFileSize value="100KB" />
          <rollingStyle value="Size" />
          <staticLogFileName value="true" />
          <layout type="log4net.Layout.PatternLayout">
            <header type="log4net.Util.PatternString" value="#Software: %property{loggername} %newline#Date: %date %newline#Fields: date thread namespace methodname message %newline" />
            <conversionPattern value="%date    [%thread]    %-5level    %message%newline" />
          </layout>
        </appender>
        {{- end }}
        {{- end }}

        {{- if or (eq .Values.logging.output "console") (eq .Values.logging.output "both") }}
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
          {{- if eq .Values.logging.level "info" }}
          <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="INFO" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
          {{- else if eq .Values.logging.level "error" }}
          <filter type="log4net.Filter.LevelMatchFilter">
            <levelToMatch value="ERROR" />
          </filter>
          <filter type="log4net.Filter.DenyAllFilter" />
          {{- else }}
          <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO" />
            <levelMax value="ERROR" />
          </filter>
          {{- end }}
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %message%newline" />
          </layout>
        </appender>
        {{- end }}

      </log4net>
    </configuration>
